.header_bg{
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: var(--primary-color);
  border-bottom: 1px solid black;
}

.header_wrapper{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: var(--header-height);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .header_wrapper {
    padding: 0 15px;
  }
}