.posts_scroll{
  height: 100vh;
  overflow: scroll;
}

.posts_wrapper{
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loader_component{
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #fecc02;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}